{% extends "base.html.twig" %}

{% block container %}
  <div class="lodgings clearfix">
    {% if lodgings %}
        {% for lodging in lodgings %}
          <div class="lodging">
            <div class="img col-xs-12 col-md-4">
              <a target="_blank" href="img_forest.jpg" title="{{lodging.title}}" >
                <img src="/upload/lodging/{{lodging.image}}" alt="Forest">
              </a>
            </div>
            <div class="desc col-xs-12 col-md-8">
              <p>{{lodging.description | raw }}</p>
              <p>Prix : {{lodging.price}}</p>
            </div>
          </div>
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}
