<div class="header">
  <a href="{{ path_for('admin_index') }}" class="brand">La Kaze</a>
  <a class="toggle-nav open"><span></span></a>
  <a href="{{ path_for('login_logout') }}" class="disc">Se déconnecter</a>
</div>