<div class="cd-popup valid">
  <div class="cd-popup-container">
    <p>Voulez-vous valider cette action ?</p>
    <ul class="cd-buttons">
      <li><a class="cd-popup-yes">Oui</a></li>
      <li><a class="cd-popup-no">Non</a></li>
    </ul>
    <a class="cd-popup-close"></a>
  </div>
</div>