<div class="sidenav open">
  <a href="#">Qui sommes-nous</a>
  <a href="{{ path_for('admin_lodging_list') }}">Hébergements</a>
  <a href="{{ path_for('admin_service_list') }}">Services</a>
  <a href="{{ path_for('admin_photo_list') }}">Photos</a>
  <a href="{{ path_for('admin_infos_edit') }}">Infos pratiques</a>
  <a href="#">Configuration</a>
</div>