<div class="sidenav open">
  <a href="{{ path_for('admin_lodging_list') }}">Hébergements</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="{{ path_for('admin_photo_list') }}">Photos</a>
</div>