{% extends "base.html.twig" %}

{% block container %}
  <div class="infos clearfix">
    {% if service %}
      <div class="contact col-xs-12 col-md-6">
        <div class="title">Restauration</div>
        {{ service.restauration|raw }}
      </div>         
      <div class="map col-xs-12 col-md-6">
        <div class="title">Autre</div>
        {{ service.autre|raw }}
      </div>
    {% endif %}
  </div>
{% endblock %}
