{% extends "admin/base.html.twig" %}

{% block container %}
  <div class="photos">
    <div class="photo edit">
      <form action="{{ path_for('admin_photo_save') }}">
        <input type="hidden" value="{{ photo.id }}" name="id">
        <input type="text" value="{{ photo.title }}" name="title">
        <input type="text" value="{{ photo.image }}" name="image">
        <button>Sauvegarder</button>
      </form>
    </div>
  </div>
{% endblock %}