{% extends "admin/base.html.twig" %}

{% block container %}
  <div class="photos">
    <div class="photo form">
      <form action="{{ path_for('admin_photo_save') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{ photo.id }}" name="id">
        <div class="row">
          <label for="title">Nom</label><br/>
          <input type="text" value="{{ photo.title }}" name="title" placeholder="Nom">
        </div>
        <div class="row">
          <label for="image">Photo</label><br />
          <input type="file" name="image">
          {% if photo.image %}
            <br/><img src="/upload/photo/{{ photo.image }}" />
          {% endif %}
        </div>
        <button class="btn btn-success">Sauvegarder</button>
      </form>
    </div>
  </div>
{% endblock %}