.header {
  .topnav-container {
    background-color: #333;
    width: 100%;
    z-index: 100;
    text-align: center;
    height: 50px;
    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      li {
        float: left;
        a, span {
          display: inline-block;
          color: #ccc;
          text-align: center;
          padding: 14px 15px;
          text-decoration: none;
          transition: 0.3s;
          font-size: 17px;
        }
        a {
          display: inline-block;
          position: relative;

          &:after {
            float: right;
            content: "|";
            font-size: 17px;
            font-weight: bold;
            margin-left: 30px;
            color: #43A047;
          }
          &:hover, &.active {
            color: #fff;
          }
        }

        &.icon {display: none; cursor: pointer;}
        &:nth-last-child(2) {
          a:after {
            content: none;
          }
        }
      }
    }
  }
  &.down {
    .topnav-container {
      top: 0;
      position: fixed;
    }
  }
}
@media screen and (max-width:680px) {
  .header {
    .topnav-container {
      ul.topnav {
        display: block;
        li a {
          background-color: #333;
          &:after {
            content: none;
          }
        }
        li { /*:not(:first-child) {*/
          display: none;
        }
        li.icon {
          float: right;
          display: inline-block;
        }
      }
    }
  }
}
@media screen and (max-width:680px) {
  .header {
    .topnav-container {
      ul.topnav.responsive {
        position: relative;

        li {
          float: none;
          display: inline;

          a {
            display: block;
            text-align: left;

            &:after{
              content: none;
            }
          }
          &.icon {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}

footer {
  height: 50px;
  background-color: #333;
  color: #fff;
}