.infos {
  .map {
    height: 500px;

    .map-container {
      height: 100%; 
    }
  }

  .contact {
    border-right: 1px solid @green;

    .detail {
      padding-bottom: 15px;
      border-bottom: 1px solid @green;
      margin-bottom: 15px;
      color: #333;
      &:last-child {
        border: 0;
      }
      a {
        text-decoration: none;
        color: #333;
      }

      i {
        font-size: 23px;
        padding-bottom: 5px;
        
        &.icon-envelope {
          font-size: 20px;
        }
      }
    }  
  }
  .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
  }
}