{% extends "base.html.twig" %}

{% block container %}
  <div class="photos clearfix">
    {% if photos %}
      <ul class="polaroids clearfix">
        {% for photo in photos %}
          <li class="img col-xs-12 col-sm-6 col-md-3">
            <a target="_blank" title="{{photo.title}}">
              <img src="/upload/photo/{{photo.image}}" alt="Forest">
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
